body{
    
    background-image: url(img/What_is_boba_tea.jpeg);
 

}

h1{
    color: hotpink;
    font-family: helvetica;
    font-size: 100px;
    background-color: white;
    
}

p{
    font-family: helvetica;
    background-color: hotpink;
    color:white;
    
    
}

h3{
    background-color: sandybrown;
    color:white;
    font-size: 30px;

}

img{
    
    width: 450px;
}